<?xml version="1.0"?>
<!--
/**
 * Copyright © Rafaf. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Rafaf\HelloWorld\Api\PostRepositoryInterface" type="Rafaf\HelloWorld\Model\PostRepository"/>
    <preference for="Rafaf\HelloWorld\Api\Data\PostInterface" type="Rafaf\HelloWorld\Model\Post"/>
    <preference for="Rafaf\HelloWorld\Api\Data\PostSearchResultInterface" type="Rafaf\HelloWorld\Model\PostSearchResult"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="rafaf_helloworld_post_listing_data_source" xsi:type="string">Rafaf\HelloWorld\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Rafaf\HelloWorld\Model\ResourceModel\Post\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">rafaf_helloworld_post</argument>
            <argument name="resourceModel" xsi:type="string">Rafaf\HelloWorld\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>
    <type name="Rafaf\HelloWorld\Model\Post">
        <plugin name="Rafaf_HelloWorld_Plugin" type="Rafaf\HelloWorld\Plugin\ExamplePlugin" sortOrder="10" disabled="false"  />
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="exampleSayHello" xsi:type="object">Rafaf\HelloWorld\Console\Sayhello</item>
            </argument>
        </arguments>
    </type>
</config>
